{{- if .Values.switcher.enabled }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "fencing.fullname" . }}-switcher
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ template "fencing.fullname" . }}-switcher
rules:
  - apiGroups: [""]
    resources: ["nodes"]
    verbs: ["patch"]
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ template "fencing.fullname" . }}-switcher
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ template "fencing.fullname" . }}-switcher
subjects:
  - kind: ServiceAccount
    name: {{ template "fencing.fullname" . }}-switcher
    namespace: {{ .Release.Namespace }}
{{- end }}
